:root {
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue-color: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --opacity-grayish-blue: hsla(210, 46%, 95%, 40%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--light-grayish-blue);
  color: var(--dark-grayish-blue);
  font-family: "Manrope", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.bold {
  font-weight: bold;
}

.container {
  /* Flex display to change row to col for mobile */
  display: flex;
  flex-direction: row;

  min-width: 60vw;

  /* center container */
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* Container style */
  border-radius: 10px;
  background-color: white;
}

.col-left > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.col-right {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description {
  padding: 30px 35px 5px 35px;
}

.description > p {
  padding-top: 10px;
}

/* container footer */
.container-footer {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  align-items: center;
  margin-top: 5px;
}

.profile-section {
  display: flex;
  flex-direction: row;
}

.profile-section > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/*share footer */
.share-section {
  display: none;
  justify-content: space-between;
  color: white;
  letter-spacing: 5px;
  height: fit-content;
  width: 45vw;
  align-items: center;
}

.share-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
  float: right;
  margin-left: auto;
  z-index: 1; 
  background-color: var(--dark-grayish-blue);
}

.share-btn:hover {
  background-color: var(--desaturated-dark-blue);
}

.share-btn > img {
  max-width: 70%;
  height: auto;
}

/* pop-up section */
.share-pop-up {
  background-color: var(--dark-grayish-blue);
  display: none;
  justify-content: space-around;
  padding: 15px;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
  position: absolute;
  width: 250px;
  bottom: 125%;
  left: 50%;
  /*margin-left: -125px;*/
  transform: translateX(-50%);
  z-index: 10;
  transition: bottom 0.3s ease, right 0.3s;
}

.share-pop-up.flex {
  display: flex;
}

/*arrow down*/
.share-pop-up::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/*attribution footer*/
.attribution {
  margin-bottom: 20px;
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1100px) {
  .container {
    min-width: 80vw;
  }
}

@media screen and (max-width: 550px) {
  .container {
    flex-direction: column;
    overflow: scroll;
    min-width: 80vw;
  }

  .container-color {
    background-color: var(--dark-grayish-blue);
    margin-top: 20px;
  }

  .col-left > img {
    border-radius: 10px 10px 0 0;
  }

  .profile-section.hidden {
    display: none;
  }

  .share-section.visible {
    display: flex;
  }
}
